    <main>
        <div id="sobre">
            <p>Desde 2010, o Rolê Top vem trazendo as melhores festas e eventos a seu público e vem sendo sucesso entre
                todos.
                Baladas, casamentos, apresentações, entre outros eventos com muita qualidade, segurança e diversão.</p>
        </div>

        <section id="eventos">
            <h2> Eventos </h2>
            <ol>
                <li>16/08 - Sextanejo - das 21 horas as 03 horas</li>
                <li>17/08 - White Party (Balada eletrônica) - das 21 horas as 04 horas</li>
                <li>18/08 - Casamento - Evento fechado</li>
                <li>22/08 - Apresentação - Evento fechado</li>
                <li>23/08 - Sextanejo - das 21 horas as 03 horas</li>
                <li>24/08 - Casamento - Evento fechado</li>
            </ol>
        </section>

        <section id="serviços">
            <h2> Serviços </h2>
            <ul>
                <li><a href='@Url.Action("Index","Servicos")'> Iluminação </a></li>
                <li><a href='@Url.Action("Index","Servicos")'> Som </a></li>
                <li><a href='@Url.Action("Index","Servicos")'> Limpeza </a></li>
                <li><a href='@Url.Action("Index","Servicos")'> Estacionamento </a></li>
                <li><a href='@Url.Action("Index","Servicos")'> Acessibilidade </a></li>
            </ul>
        </section>


        <section id="perguntas">
            <h2> Perguntas Frequentes </h2>

            <strong>Onde estaciono meu veículo ?</strong>
            <p>Somos conveniados ao estacionamento Carpark, que tem um amplo espaço dedicado a seu veículo.</p>
            <strong>Sou deficiente, tenho acesso livre ?</strong>
            <p>O local está preparado para receber deficientes visuais e físicos, com rampas de acesso e piso tátil.</p>
            <strong>É permitido a entrada de menores de idade ?</strong>
            <p>O local recebe vários tipos de eventos, por isso é recomendável que seja verificado a faixa etária de
                acordo com o evento.</p>
        </section>
    </main>
